.flex-container {
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:active {
  color: black;
}

label {
  font-style: italic;
  font-size: 16px;
}

aside {
  width: 20rem;
  margin: 50px 20px;
}

aside a {
  display: block;
  height: 30px;
  width: 100%;
  margin: 0px auto;
  background-color: #c2c2c2;
  text-align: center;
}

aside a:hover {
    background-color: lightblue;
    color: white;
}

aside .active {
    background-color: darkblue;
    color: white;
}

main {
  margin: 10px;
}

#login-form > form > input,
select {
  margin: 1.5rem;
  width: 90%;
  height: 2rem;
  border: none;
  border-bottom: 3px solid darkblue;
  border-radius: 1px;
}

#login-form > form > input:focus,
select:focus {
  outline-style: solid;
  outline-width: thick;
  outline-color: green;
  border-bottom: none;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkblue;
}

nav > a {
  color: #c2c2c2;
  margin: 1px 100px;
}

ul {
  list-style: none;
}

ul > a {
  color: green;
}

footer {
  position: fixed;
  left: 50%;
  bottom: 10px;
  text-align: center;
}

#login-form {
  box-shadow: 30px 5px 30px 3px rgba(0, 0, 0, 0.2);
  width: 50vw;
  text-align: center;
  padding: 2rem;
  justify-content: center;
  margin-top: 5rem;
}

.main {
  background-image: url("../images/login.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.f-column {
  flex-direction: column;
}

.vh-100 {
  min-height: 100vh;
}

.btn-submit {
  border-radius: 2px;
  background-color: rgb(153, 23, 23);
  border-color:  rgb(153, 23, 23);
  font-weight: 600;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
}

.btn-submit:hover {
  background-color: white;
  border-color:  white;
  color: rgb(153, 23, 23);
}