a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:active {
  color: black;
}

label {
  font-style: italic;
  font-size: 16px;
}

aside {
  position: absolute;
  width: 200px;
  margin: 50px 20px;
}

aside a {
  display: block;
  height: 30px;
  width: 100%;
  margin: 0px auto;
  background-color: #c2c2c2;
  text-align: center;
}

aside a:hover {
    background-color: lightblue;
    color: white;
}

aside .active {
    background-color: darkblue;
    color: white;
}

main {
  display: inline-block;
  margin: 10px 10px 10px 370px;
  text-align: center;
}

input,
select {
  display: inline-block;
  margin: 10px;
  width: 100%;
  height: 32px;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkblue;
}

nav > a {
  color: #c2c2c2;
  margin: 1px 100px;
}

ul {
  list-style: none;
}

ul > a {
  color: green;
}

footer {
  position: fixed;
  left: 50%;
  bottom: 10px;
  text-align: center;
}
