/* * {
  font-family: "Grandesign Neue Roman", sans-serif;
} */

input[type="text"] {
  color: blue;
}

form > div {
  margin: 20px;
}

input {
  border: none;
  background-color: #f7f7f7;
  padding: 5px;
  font-size: 1.2em;
}

input:focus {
  outline: none;
  background-color: #ecececad;
}

nav > a {
  text-decoration: none;
  color: black;
}

nav > a:visited {
  color: olive;
}

nav > a:hover {
  color: orange;
}

nav > a:active {
  color: blue;
}

