* {
  font-family: 'Grandesign Neue Roman', sans-serif;
}

/* h1 {
  color: blue;
} */

/* .red {
  color: red;
} */

/* p {
  color: violet;
} */

/* #definition {
  color: brown;
} */

/* p {
  font-size: 24px;
} */

/* .red,
#definition {
  color: red;
}  */

.red p span {
  font-size: 12px;
}

/* > bira samo direktnu decu elementa 
   + bira prvi sledeci element nakon .blue
   ~ bira svu decu nakon elementa .blue
*/
/* .blue > p {
  color: blue;
}

.blue + p {
  color: blue;
}

.blue ~ p {
  color: blue;
} */

p::first-letter {
  font-size: 2rem;
  font-weight: bold;
}

p::before {
  content: ">>>";
  font-size: 1rem;
  font-weight: bold;
}