.flex-container {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.vh-100 {
  min-height: 100vh;
}

header nav {
  display: flex;
}

header nav > a {
  padding: 1rem 5rem;
  text-decoration: none;
}

main {
  margin: 0 auto;
  width: 70%;
}

.content {
  height: 50vh;
}

#content-left {
  border-right: 2px solid black;
  padding-right: 1rem;
}

#content-right {
  margin-left: 1rem;
}

footer {
  margin-top: 1rem;
  padding: 1rem;
}

#icons {
  flex: 1;
  justify-content: center;
}

#icons > a {
  padding: 1rem;
}

#footer-content {
  flex: 1;
}

@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
    text-align: center;
  }

  .content {
    display: inline-block;
  }

  #content-left {
    border-right: none;
    padding-right: 0;
  }

  #content-right {
    border-top: 2px solid black;
    margin-left: 0;
  }
}
