@font-face {
    font-family: OpenSans;
    font-weight: 100;
    src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: 600;
    src: url("../fonts/open-sans/OpenSans-Bold.ttf");
}

* {
    font-family: OpenSans;
}

.flex-container {
  display: flex;
}

.f-column {
  flex-direction: column;
}

header {
  background-color: #738290;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav > a, aside > a {
    padding: 1rem 0.5rem;
    text-decoration: none;
}

aside > a {
    color: #738290;
}

header nav > a {
    color: #fffcf7;
}


.active {
    background-color: #fff8eb;
    color: #738290;
}

header nav > a:hover {
    background-color: #fffcf7;
    font-size: 1.1em;
    color: #738290;

    transition-property: all;
    transition-duration: 0.3s;
    /* transition-delay: 1s; */
}

header nav > a:active {
    background-color: #fff8eb;
}

main {
  background-color: #fffcf7;
  flex: 1;
  padding: 1% 5%;
}

.main {
  flex: 1;
}

aside {
  background-color: #e4f0d0;
  width: 10rem;
  text-align: center;
}

aside:hover {
    width: 11rem;
    transition: width 0.3 linear;
}

footer {
  background-color: #738290;
  height: 3rem;
}

.vh-100 {
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  margin: 0.5rem;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  aside {
    display: none !important;
  }

  header nav {
    flex-direction: column;
    text-align: center;
  }
}