 p {
    font-family: 'Comic Book Commando', sans-serif;
 }

#rectangle_image {
  display: inline-block;
  width: 30%;
}

p {
    width: 90%;
}

#side_text {
  display: inline-block;
  margin-left: 10px;
  width: 50%;
}

body p::before {
  content: "*";
}

#first_row {
    height: 100px;
}

#second_row {
  margin-top: 50px;
}

table {
  width: 80%;
  margin: 0 auto;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

tr {
  height: 30px;
}

tr:nth-child(odd) {
  background-color: #c2c2c2;
}

thead > tr {
  background-color: #1a1917 !important;
  color: white;
}

tr:hover {
    background-color: firebrick;
    cursor: pointer;
}

td {
  text-align: center;
}

#kvadrat {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    right: -2px;
    bottom: 30%;
    border: 2px solid darkred;
}
